@using MVC_eCommerce_Ashley_Furniture_Project.Models
@model IEnumerable<MVC_eCommerce_Ashley_Furniture_Project.Models.Inventry>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1></h1>
@Html.Raw(ViewBag.OrderPlaced)

<p>
    @*<a asp-action="Create">Create New</a>*@
</p>
<div class="row">
    @foreach (MVC_eCommerce_Ashley_Furniture_Project.Models.Inventry item in ViewBag.Products)
    {
        <div class="col-lg-3 col-md-3 col-xs-12">
        <div class="card" style="width: 18rem;">
  <img src="~/images/furniture_Chair.jpg" class="card-img-top"  alt="...">
  <div class="card-body">
    <h5 class="card-title">Product Name: @Html.DisplayFor(modelItem => item.ProductName)</h5>
    <h5 class="card-title">Product Price: @Html.DisplayFor(modelItem => item.ProductPrice)</h5>
    <p class="card-text"> </p>
     @Html.ActionLink("Order","Order",new{ProductId=item.ProductId})
    
    <a href="#" class="btn btn-primary"></a>
  </div>
</div>
</div>
    }
</div>

